* {
  background-color: #e5e1e1;
  color: #232323;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

#opening-paragraph {
  font-size: 1.5rem;
  text-align: center;
}

footer {
  text-align: center;
}